{% extends 'base.html' %}

{% load static %}

{% block title %}Conditions générales{% endblock %}

{% block content %}
<style type="text/css">pre { white-space: pre-wrap }</style>
	<pre>
Conditions d’utilisation du leswaq.com
Dernier mise à jour : dd/mm/yyyy
Bienvenue sur leswaq.com
En accédant à leswaq.com et en utilisant les services proposés, l’Utilisateur reconnaît avoir lu et compris, et accepte les présentes conditions d’utilisations et Politique générale relative à la protection des données personnelles. Nous offrons un large panel de Services, et il se peut que des conditions additionnelles s'appliquent.
Au cours de votre inscription sur ce site, il pourra vous être demandé de saisir des informations personnelles nominatives vous concernant (nom, numéro de téléphone, adresse …) vous devez les remplir en toute honnêteté, non anarchiquement.
Conditions d’Inscription à notre site :
-	Vous vous engagez à respecter les conditions d’utilisation et politiques de confidentialité du site leswaq.com.
-	Pour pouvoir s’inscrire dans leswaq.com vous devait être de la nationalité algérienne, et pour certaine modes de navigation, résidant en Algérie.
-	Être en possession d’une boite e-mail et un numéro de téléphone Algérien, et pour certaine modes de navigation, vous devez rajouter votre Numéros d’Identification Nationale (NIN).
-	Vous devez remplir les informations demandées dans le menu d’inscription en toute honnêteté.
-	La totalité de nos services ne sont pas disponibles pour les âgées de moine de seize (16) ans. Si vous avez moins de 18 ans, vous ne pouvez utiliser un Service leswaq.com que sous la surveillance d'un parent ou d'un tuteur.
-	Vous vous engagez à respecter les conditions générales du notre site.
En cas d’effraction d’une ou plusieurs conditions et/ou politique de notre site par un ou plusieurs utilisateurs, on n’ait pas responsable. 
Utilisation du site :
-	Vous pouvez naviguez sur notre site gratuitement et sans connecter à votre compte.
-	Vous devez disposer d'un compte personnel sur notre site et vous connecter pour utiliser certains services.
-	Le compte d’utilisation doit être utilisé uniquement par le propriétaire du compte, sans lissez d’autres gens à l’utiliser, afin de garder votre intimité et responsabilités.
-	le propriétaire du compte est le seul responsable sur son compte.
-	Ne partage pas vos informations sensibles de votre compte (comme mot de passe) sur le site ou ailleurs, pour la sécurité de votre compte.
-	Vous pouvez devenir un membre actif de notre site à partir de 18 ans, chaque mineur désirant vendre ou acheter doit le faire avec l'accompagnement d'un parent ou d'un proche majeur. En cas de non respect de la limite d’âge d'utilisation, leswaq.com se dégage de toute responsabilité.
-	Vous pouvez accéder à vos informations dans la section mon compte dans le menu de navigation du notre site.
-	Vous pouvez modifier vos données personnelles à tout moment, vous en êtes le seul propriétaire (sauf : nom, prénom, date de naissance, NIN).
-	Si vous utilisez un quelconque Service leswaq.com, vous êtes responsable du maintien de la confidentialité de votre compte et mot de passe, des restrictions d'accès à votre ordinateur et autres équipements, et dans la limite de ce qui est autorisé par la loi applicable, vous acceptez d'être responsable de toutes les activités qui ont été menées depuis de votre compte et/ou avec votre mot de passe.
-	Vous devez prendre toutes les mesures nécessaires pour vous assurer que votre mot de passe reste confidentiel et sécurisé, et devez nous informer immédiatement si vous avez des raisons de croire que votre mot de passe est connu de quelqu'un d'autre, ou si le mot de passe est utilisé ou susceptible d'être utilisé de manière non autorisée.
-	Vous êtes responsable de la validité et du caractère complets des informations personnels que vous nous avez fournies (ça concerne : le nom, prénom, NIN, date de naissance), en cas de faute, vous devez nous informer pour faire un changement à ces informations.
-	Vous ne devez pas utiliser un quelconque Service leswaq.com : d'une façon qui causerait, ou serait susceptible de causer une interruption, un dommage, ou une altération d'un Service leswaq.com, ou dans un but frauduleux, ou en relation avec un crime ou une activité illégale, ou dans le but provoqué des troubles, nuisances ou causes d'anxiétés.
-	Note concernant les offres des vendeurs : merci de garder à l'esprit que les offres des vendeurs tiers sont seulement hébergés sur leswaq.com et sont publiées uniquement sous la direction des vendeurs tiers qui peuvent être contactés par leur page « Informations sur le vendeur », accessible depuis toutes leurs offres.
-	Si vous avez acheté un produit qui est déférent de celui en photos, et vous l’acceptez comme même, vous l’acheteur et vendeur devez nous envoyez les photos du vrai produit.
-	c’est vous avez été arnaqué d’après une vente ou achat annoncer sur notre site, veuillez le déclarer au plus proche poste de police ou les contacter par appel téléphonique, en précisent la publication concerné, et de nous contacter.
Publications :	
Placer, consulter ou répondre à une annonce est gratuit. En respectant Ces conditions d'utilisations et les règles qui suivent :
-	Pour pouvoir publier sur le site il faut être en possession d’un compte valide dans notre plateforme leswaq.com.
-	Vous devait être en possession du produit en question et une sollicitation de vouloir sur votre offre, avoir au moins sept (7) photos différentes du même produit, une photo pour chaque coter comme suite : (de face, coté droite, coté gauche, arrière, dessus, dessous, une photo qui diffère d’un produit à un autre, ex : intérieure pour une voiture, écran allumé pour les appareils électroniques…etc.).
-	Lors d’une annonce de vente, vous êtes obligé à mètre des photos de votre produit, assurez vous de ne laisser aucune donnée personnelle dedans (comme votre numéro de téléphone).
-	Décrivez bien votre offre qu’il s’agisse d’un service ou produit…etc. en mettant toutes les détails décrivant votre produit. Ex : (dysfonctionnement, retouche, rajout…etc.).
-	Vous devez mentionner la qualité de votre produit c’est si un originale ou bien un contre façon.
-	Veuillez indiquer un prix idéale à votre annonce tout en respectons la numérotation du prix. Ex : (ne pas écrire 50 DA pour un offre de 50 000 DA et ne pas faire le contraire aussi, ne pas mettre le produit à vendre en tant que produit gratuit).
-	Vous devez classer votre annonce dans la bonne catégorie. 
-	Les annonces mises en ligne ont une visibilité et une durée de quinze (15) jours renouvelable. sauf aux comptes professionnels.
-	Pour pouvoir contacter l’annonceur vous devez être connecté à votre compte.
-	Les annonces sont gratuites et leurs consultation l’est également.
On vous invite à signaler toutes personnes pour quelques soit la raison annonces, photos, prix male écrit, commentaires, toutes choses qui ne répondant pas à l’esprit de notre site et aux différents lois Algériennes, Afin de filtrer les malveillants.
Objets interdits :
-	tout contenu faux, illégal, trompeur, diffamatoire, injurieux, obscène, pornographique, indécent, licencieux, suggestif, intimidant ou appelant au harcèlement d’une tierce personne, menaçant, irrespectueux des droits de la vie privée, abusifs, incendiaires, frauduleux ou répréhensibles ;
-	tout contenu manifestement injurieux pour la communauté des internautes, tels que des contenus incitant au racisme, au fanatisme, à la haine ou à toute attaque physique de groupes ou d’individus ;
-	Informations à caractère confidentiel, y compris, sans restriction, nom de famille, adresse, numéros de téléphone, adresses courriels, numéros de sécurité sociale et numéro de carte de crédit.
-	Boissons Alcooliques et Tabac ;
-	Armes et couteaux
-	Équipements médicaux d'occasion
-	Fouilles, Fossiles et Minéraux
-	Pesticides
-	Uniformes, décorations, insignes
-	Parties animales
-	Armes à feu et explosifs
-	Biens culturels
-	Biens soumis à embargo
-	Biens volés ou recelés
-	Billets de loterie
-	Cartes de crédit
-	Documents officiels délivrés par l'État
-	Contrats et billets
-	Drogues et objets associés
-	Équipements de surveillance interdits
-	Fausses monnaies et faux timbres
-	Feux d'artifice
-	Instruments financiers
-	Listes de publipostage
-	Objets à caractère pédophile.
-	Marchandises interdites ou réglementées
-	Matériels destinés à l'ouverture des serrures
-	Médicaments et parapharmacie
-	Organes et produits du corps humain
-	Substances dangereuses et illicites
-	les produits portant atteinte aux droits de propriété intellectuelle.
Nous vous encourageons à consulter régulièrement ce document pour vous tenir informé des modifications éventuelles. Toutefois, en cas de modification substantielle de nos conditions d’utilisation et politique de confidentialité des données, vous en serez averti par e-mail ou lors de votre connexion sur le site.
	</pre>
{% endblock %}

