{% extends 'base.html' %}

{% load static %}

{% block title %}Politiques de confidentialité{% endblock %}

{% block content %}
<style type="text/css">pre { white-space: pre-wrap }</style>
	<pre>Dernier mise à jour : dd/mm/yyyy
Bienvenue sur leswaq.com
La présente politique de protection de vos données est destinée à vous informer de nos choix et de nos pratiques en matière de respect de la vie privée, ainsi que des options que vous pouvez opérer sur la manière dont vos données sont recueillies en ligne et comment elles sont utilisées.
En accédant à leswaq.com et en utilisant les services proposés, l’Utilisateur reconnaît avoir lu et compris la présente Politique générale relative à la protection des données personnelles, ainsi que les pratiques de recueil de consentement, de collecte et de traitement des informations décrites dans ce document. 
Au cours de votre inscription sur ce site, il pourra vous être demandé de saisir des informations personnelles nominatives vous concernant (nom, numéro de téléphone, adresse …).
leswaq.com souhait respecter toutes les obligations légales en matière de protection des données à caractère personnel, notamment en s’engageant publiquement dans la conformité au Règlement Général pour la Protection des Données et à la Loi Informatique et Libertés. « Loi n° 18-07 du 10 juin 2018 relative à la protection des personnes physiques dans le traitement des données à caractère personnel ».
Politiques des Publications :
-	Vous devez classer votre annonce dans la bonne catégorie.
-	Obligation du mettre le prix, et d’avoir les photos du produit en question et pas d’un équivalant (sauf quelques pubs insinuée dans publication du leswaq.com)
-	Veuillez indiquer un prix idéale à votre annonce tout en respectons la numérotation du prix. Ex : (ne pas écrire 50 DA pour un offre de 50 000 DA et ne pas faire le contraire aussi, ne pas mettre le produit à vendre en tant que produit gratuit). 
-	C’est vous n’avez pas du prix à fixer sur votre produit mettez le en négociation, (lorsque vous mettez votre produit en négociation une autre case s’affichera sur votre publication, il s’agit d’une case qui affiche le prix donner par d’autre utilisateurs).
-	C’est vous vous mettez un produit en gratuit veut dire qu’il est offert, vous serait pas autorisez à négocier sur un montant d’argent.
-	Pour mieux présentez votre produit, on vous obliger de mettre sept (7) photos du produit, afin de toucher toutes les angles du produit (du gauche, droite, en haut, on de sous, en face et de derrière, une photo qui diffère d’un produit à un autre, ex : intérieure pour une voiture, écran allumé pour les appareils électroniques…etc.), de préférence du mettre plus de photos qui décrit votre produits. 
-	Lors d’une annonce de vente, vous êtes obligé à mètre des photos de votre produit, assurez vous de ne laisser aucune donnée personnelle dedans (comme votre numéro de téléphone).
-	Décrivez bien votre offre qu’il s’agisse d’un service ou produit…etc. en mettant toutes les détails décrivant votre produit (ex : dysfonctionnement, retouche, rajout…etc.), pour que l’acheteur serait bien informer avant de s’engagez avec vous. 
-	Vous devez mentionner la qualité de votre produit c’est si un originale ou bien un contre façon.
-	Chaque publication sera supprimée du site après 2 jours de la demande de la suppression en confirment les autres procédures.
-	Touts sortes de publications sera supprimé après 15 jours de sa publication, renouvelable 2 fois.
-	Pour pouvoir contacter l’annonceur vous devez être connecté à votre compte.
-	La création des annonce est gratuite et leurs consultation l’est également.
-	Chaque publication publier sur notre site, toutes les détailles de la publication est enregistrer automatiquement, même après la suppression, afin de conserver des preuves en cas de fraude et d’une enquête en cours sur une relation commerciale passer par notre site. (les informations concernant les publications sont confidentiels, partager juridiquement uniquement).
On vous invite à signaler toutes personnes pour quelques soit la raison annonces, photos, prix male écrit, commentaires, toutes choses qui ne répondant pas à l’esprit de notre site et aux différents lois Algériennes, Afin de filtrer les malveillants.
Objets interdits :
Les objets qui suivent sont interdit sur notre site :
-	tout contenu faux, illégal, trompeur, diffamatoire, injurieux, obscène, pornographique, indécent, licencieux, suggestif, intimidant ou appelant au harcèlement d’une tierce personne, menaçant, irrespectueux des droits de la vie privée, abusifs, incendiaires, frauduleux ou répréhensibles.
-	tout contenu manifestement injurieux pour la communauté des internautes, tels que des contenus incitant au racisme, au fanatisme, à la haine ou à toute attaque physique de groupes ou d’individus.
-	Informations à caractère confidentiel, y compris, sans restriction, nom de famille, adresse, numéros de téléphone, adresses courriels, numéros de sécurité sociale et numéro de carte de crédit.
-	Boissons Alcooliques et Tabac.
-	Armes et couteaux.
-	Équipements médicaux d'occasion.
-	Fouilles, Fossiles et Minéraux.
-	Pesticides.
-	Uniformes, décorations, insignes.
-	Parties animales.
-	Armes à feu et explosifs.
-	Biens culturels.
-	Biens soumis à embargo.
-	Biens volés ou recelés.
-	Billets de loterie.
-	Cartes de crédit.
-	Documents officiels délivrés par l'État.
-	Contrats et billets.
-	Drogues et objets associés.
-	Équipements de surveillance interdits.
-	Fausses monnaies et faux timbres.
-	Feux d'artifice.
-	Instruments financiers.
-	Listes de publipostage.
-	Objets à caractère pédophile.
-	Marchandises interdites ou réglementées.
-	Matériels destinés à l'ouverture des serrures.
-	Médicaments et parapharmacie.
-	Organes et produits du corps humain.
-	Substances dangereuses et illicites.
-	les produits portant atteinte aux droits de propriété intellectuelle.
Politique de traitement des données :
Nous collectons vos informations personnelles afin de fournir et d'améliorer continuellement nos produits et services. Informations collecter veut dire : (informations que vous nous communiquez, collectées automatiquement, issues d’autres sources).
     Exemples d'informations collectées :
-	Les informations personnelles que vous ajoutez à votre profile qui peuvent être : votre nom, adresse et numéro de téléphone, votre âge, photos, votre adresse IP (Internet Protocol), des enregistrements, le contenu des commentaires et des e-mails que vous nous avez adressés par tout moyen, des informations relatives à vos historiques sur notre site. 
-	ajoutassions et/ou suppression d’une annonce avec votre profile.
-	proposez vos produits ou services sur ou via nos services.
-	Vos publicités professionnelles sur notre site.
     Pourquoi nous collectons les informations :
Nous collectons vos informations personnelles pour les raisons qui suivent :
-	Enregistrement et personnalisation de votre profile dans le site et de l’afficher aux utilisateurs du site.
-	résolution des problèmes et amélioration de nos services.
-	Conserver les informations personnelles des utilisateurs des comptes sur notre site pour les distinguer les uns des autres.
-	La création d’un historique de votre parcours sur notre site.
-	Nous utilisons vos informations personnelles afin de communiquer avec vous au sujet de nos services.
-	Finalités pour lesquelles nous recueillons votre consentement.
-	vous présenter des publicités basées sur vos centres d'intérêts relatives à des fonctions, des produits et des services qui pourraient vous intéresser.
-	Prévention de la fraude et risques de crédit.
-	Dans certains cas, nous collectons et utilisons vos informations personnelles afin de nous conformé aux obligations légales.
Vos données ils sont et resteront privé, vos échanges entre utilisateurs transiteront de manière anonyme nous ne faisons pas de collecte de données pour d’autres sites nous sommes les seuls à les recevoir. En cas d'enquête judiciaire et vous êtes victime ou suspect selon une relation passé par nos services entre un ou des deux aspectes de l'enquête. Nous partagerons ce qui est nécessaire pour la même enquête à la demande écrite d’un ou des services de sécurité algériens.
-	Les informations personnelles des comptes des utilisateurs ne sont en aucun cas partagées. (soit mot de passe, identifiant, réponses de déférentes questions à répondre, photo de profil…etc.).
-	Nous avons le droit de suspendre le ou les comptes si des annonces frauduleuses sont réitérées, et/ou une violation d’une ou plusieurs de nos conditions d’utilisation du notre site.
Afin de garder les services leswaq.com à jour, nous pouvons offrir des mises à jour automatiques ou manuelles à tout moment et sans notification préalable.
    Traitement des données :
-	Ne traiter que des données loyalement et licitement collectées ;
-	ne traiter les données ainsi collectées que dans le cadre des finalités déterminées, explicites et légitimes ;
-	ne traiter que les données adéquates et pertinentes et non excessives au regard de la finalité de ses traitements ;
-	prendre toutes précautions utiles afin de préserver la sécurité des données, afin notamment d’empêcher qu’elles ne soient déformées, altérées, endommagées ;
-	ne pas communiquer ces données à des tiers en dehors de l’entreprise sans en informer les personnes, sauf dans le cas d’une Poursuites judiciaires et /ou une possibilité d’être partie d'une affaire.
Conscients du fait que la fourniture d’informations en ligne implique une grande marque de confiance de votre part, nous considérons cette confiance avec le plus grand sérieux et faisons une priorité majeure de la sécurité et de la confidentialité des données personnelles que vous nous fournissez lorsque vous consultez notre site internet et utilisez nos services.
Propriété intellectuelle de notre site :
Le contenu de notre site, la structure générale, l’arborescence, les contenus textuels, les images animées ou non et les logos dont le site est composé sont la propriété exclusive de la société leswaq.com. Toute représentation, totale ou partielle, de ce site ou de son contenu, sur un quelconque support, pour un usage collectif ou professionnel, même en interne dans l’entreprise, par quelques procédés que ce soient, sans l’autorisation préalable expresse et écrite de la société leswaq.com est interdite et constituerait une contrefaçon sanctionnée par l’Ordonnance n°03-05 du 19 Joumada EL Oula 1424 correspondant au 19 juillet 2003 relative aux droits d’auteur et aux droits voisins, de même la violation de ces dispositions soumet le contrevenant et toutes personnes responsables aux peines pénales et civiles prévues par la Loi Algérienne.
Vous ne devez pas extraire et/ou réutiliser de façon systématique des parties du contenu de tout Service leswaq.com sans notre autorisation expresse et écrite. En particulier, vous ne devez pas utiliser de robot d'aspiration de données, ou tout autre outil similaire de collecte ou d'extraction de données pour extraire (en une ou plusieurs fois), pour réutiliser une partie substantielle d'un quelconque Service leswaq.com, sans notre accord express et écrit.
Marques déposées :
Par ailleurs, les graphiques, logos, en-têtes de page, boutons, scripts et noms de services inclus ou rendus disponibles à travers un Service leswaq.com sont des marques ou visuels de leswaq.com. Les marques et visuels de leswaq.com ne peuvent pas être utilisés pour des produits ou services qui n'appartiennent pas à leswaq.com, ou d'une quelconque manière qui pourrait provoquer une confusion parmi les clients, ou d'une quelconque manière qui dénigre ou discrédite leswaq.com. Toutes les autres marques qui n'appartiennent pas à leswaq.com et qui apparaissent sur un quelconque Service leswaq.com sont la propriété de leurs propriétaires respectifs, qui peuvent, ou non, être affiliés, liés ou parrainés par leswaq.com.
Politiques des Avis et Commentaires :
leswaq.com permet aux utilisateurs de donner leur avis sur les différentes publications, et même aux comptes d’autres utilisateurs, afin de les déférer de meilleurs au moins meilleurs. Le tout dans le respect de nos différentes conditions de site.
Notre site n’est pas responsable sur les avis et les commentaires que les utilisateurs laissent sur le site. Nous n’avons aucun pouvoir à les contrôler.
Vos Avis et Commentaires laissez sur notre site sont toujours visibles à tous les utilisateurs, est donc non confidentielles et non privées. Et pour commenter et/ou donner votre avis, l’Utilisateur s’engage à ne publier ou diffuser aucun des contenus suivants :
-	 tout contenu faux, illégal, trompeur, diffamatoire, injurieux, obscène, pornographique, indécent, licencieux, suggestif, intimidant ou appelant au harcèlement d’une tierce personne, menaçant, irrespectueux des droits de la vie privée, abusifs, incendiaires, frauduleux ou répréhensibles ;
-	tout contenu manifestement injurieux pour la communauté des internautes, tels que des contenus incitant au racisme, au fanatisme, à la haine ou à toute attaque physique de groupes ou d’individus ;
-	Informations à caractère confidentiel, y compris, sans restriction, nom de famille, adresse, numéros de téléphone, adresses courriels, numéros de sécurité sociale et numéro de carte de crédit.
Leswaq.com se réserve toutefois le droit de supprimer, à son entière discrétion, sans préavis, et pour toute raison, tout avis ou tout commentaire publié par les Utilisateurs sur sa plateforme collaborative ou de confier ces tâches à des tiers.
Leswaq.com décline toute responsabilité quant au contenu publié par les Utilisateurs, quant aux pertes ou aux dommages liés à ces derniers. Par ailleurs, leswaq.com ne saurait être tenu pour responsable des erreurs, actes de diffamation, calomnie, omissions, mensonges, contenus obscènes, pornographiques ou vulgaires que les internautes pourraient visualiser.


	</pre>
{% endblock %}

